<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <div th:replace="~{nav.html :: navbar}"></div>
</header>
<h1>마이페이지</h1>

<ul>
    <li sec:authentication="principal"></li>
    <li sec:authentication="principal.username"></li>
    <li sec:authentication="principal.authorities"></li>
</ul>
</body>
</html>