<nav th:fragment="navbar">
    <ul>
        <li><a class="logo">SpringMall</a></li>
        <li><a th:href="@{/list/page/1}">List</a></li>
        <li><a th:href="@{/write}">Write</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>님
            <span sec:authentication="authorities"></span>
        </li>
    </ul>
</nav>